@model Contato

@{
    ViewData["Title"] = "Contato";
}


<h1 class="laranja h3 mb-3 font-weight-normal">Entre em contato!</h1>
<h1 class="azul h6 mb-3 font-weight-normal">Entre em contato para agendarmos um teste grátis da plataforma.</h1>

<form method="POST">
    <div class="form-group">
        <label asp-for="Nome">Nome: </label>
        <input asp-for="Nome" class="form-control" type="text"/>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" class="form-control" type="email"/>
    </div>
    <div class="form-group">
        <label asp-for="Tele">Telefone: </label>
        <input asp-for="Tele" class="form-control" type="tel"/>
    </div>
    <div class="form-group">
        <label asp-for="Desc">Descrição: </label>
        <textarea asp-for="Desc" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn meubotao">Enviar</button>
</form>