<!-- Importa o model Contato e seta o título da página -->
@model Contato
@{
    ViewData["Title"] = "Contato";
}

<!-- Cabeçalho -->
<h1 class="laranja h3 mb-3 font-weight-normal">Entre em contato!</h1>
<h1 class="azul h6 mb-3 font-weight-normal">Entre em contato para agendarmos um teste grátis da plataforma.</h1>

<!-- Formulário -->
<form method="POST">
    <div class="row mb-3" id="nome">
        <label asp-for="Nome" class="col-1 col-form-label">Nome: </label>
        <div class="col-11">
            <input asp-for="Nome" class="form-control" type="text" />
        </div>
    </div>
    <div class="row mb-3" id="email">
        <label asp-for="Email" class="col-1 col-form-label">Email: </label>
        <div class="col-11">
            <input asp-for="Email" class="form-control" type="email" />
        </div>
    </div>
    <div class="row mb-3" id="telefone">
        <label asp-for="Tele" class="col-1 col-form-label">Telefone: </label>
        <div class="col-11">
            <input asp-for="Tele" class="form-control" type="tel" />
        </div>
    </div>
    <div class="row mb-3" id="desc">
        <label asp-for="Desc" class="col-1 col-form-label">Descrição: </label>
        <div class="col-11">
            <textarea asp-for="Desc" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <button type="submit" class="btn meubotao">Enviar</button>
</form>