<!-- Seta o titulo da página -->
@{
    ViewData["Title"] = "Ínicio";
}

<div class="text-center container">
    <h1 class="display-4 laranja">AirManu</h1>
    <p class="azul">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu lobortis orci.</p>
</div>

<div id="controlesCarrosel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner rounded">
        <div class="carousel-item active">
            <img src="~/img/slide1.jpg" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="carousel-item">
            <img src="~/img/slide2.jpg" class="d-block w-100" alt="Slide 2">
        </div>
        <div class="carousel-item">
            <img src="~/img/slide3.jpg" class="d-block w-100" alt="Slide 3">
        </div>
    </div>
    <a class="carousel-control-prev" href="#controlesCarrosel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#controlesCarrosel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Proximo</span>
    </a>
</div>

<div class="container pt-2">
    <h3 class="laranja">Sobre Nós</h3>
    <p class="azul">Proin a pulvinar turpis, eu facilisis nunc. Vivamus interdum vulputate pellentesque. Nunc posuere
        mauris vitae ex mattis, vitae tempor purus convallis. Interdum et malesuada fames ac ante ipsum primis in
        faucibus. Nam commodo tincidunt lectus, at efficitur turpis maximus eget. Vestibulum posuere a risus non
        placerat. Nullam ante turpis, sodales et quam a, efficitur congue nunc. Fusce ut mattis est. Nulla et urna
        convallis, sagittis leo et, lacinia nisi.</p>
</div>
<div class="container">
    <h3 class="laranja">O Software</h3>
    <p class="azul">Etiam dapibus nisl lobortis mi facilisis consectetur. Sed pulvinar a justo id efficitur. Vivamus
        cursus at quam non scelerisque. Vivamus viverra aliquam lectus, vel vehicula massa cursus tempus. Sed sagittis
        sollicitudin sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras mollis interdum
        risus, euismod volutpat magna sodales vitae. Vivamus magna augue, tristique nec purus id, efficitur pulvinar ex.
        Sed sed ex dictum, congue tellus in, consequat erat. Nulla ipsum mauris, tempus vel est vel, aliquam efficitur
        metus. Duis in euismod quam. Maecenas vestibulum ante et libero ornare egestas. Donec sollicitudin mauris eu
        nisi luctus pharetra. Aenean at ligula nec eros tempor posuere. Nunc malesuada feugiat orci, vel hendrerit augue
        cursus sit amet. Mauris maximus enim id lectus condimentum dapibus.</p>
</div>