<!-- Seta o titulo -->
@{
    ViewData["Title"] = "Preços";
}


<div class="text-center">
    <h1 class="laranja h2 mb-3">Tabela de Preços</h1>
    <table class="table table-striped pb-3"> <!-- Tabela -->
        <thead> <!-- Cabeçalho da tabela -->
            <tr class="azul">
                <th scope="col">Funcionalidades</th>
                <th scope="col">Básico</th>
                <th scope="col">Intermediario</th>
                <th scope="col">Avançado</th>
            </tr>
        </thead>
        <tbody> <!-- Corpo da tabela -->
            <tr>
                <th scope="row">Func. A</th>
                <td>&#10004;</td>
                <td>&#10004;</td>
                <td>&#10004;</td>
            </tr>
            <tr>
                <th scope="row">Func. B</th>
                <td>X</td>
                <td>&#10004;</td>
                <td>&#10004;</td>
            </tr>
            <tr>
                <th scope="row">Func. C</th>
                <td>X</td>
                <td>X</td>
                <td>&#10004;</td>
            </tr>
            <tr>
                <th scope="row">Func. D</th>
                <td>&#10004;</td>
                <td>&#10004;</td>
                <td>&#10004;</td>
            </tr>
            <tr>
                <th scope="row">Func. E</th>
                <td>X</td>
                <td>&#10004;</td>
                <td>&#10004;</td>
            </tr>
            <tr>
                <th scope="row">Func. F</th>
                <td>X</td>
                <td>X</td>
                <td>&#10004;</td>
            </tr>
            <tr>
                <th scope="row">Func. G</th>
                <td>X</td>
                <td>&#10004;</td>
                <td>&#10004;</td>
            </tr>
            <tr>
                <th scope="row">Preço</th>
                <td>R$XX,XX</td>
                <td>R$XX,XX</td>
                <td>R$XX,XX</td>
            </tr>
        </tbody>
    </table>
    <button class="btn meubotao" onclick="window.location.href='Contato'">Contratar</button>
</div>